<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

            <bean class="ru.javawebinar.topjava.repository.mock.InMemoryMealRepositoryImpl" id="inMemoryMealRepositoryImpl"/>
            <bean class="ru.javawebinar.topjava.service.MealServiceImpl" id="mealServiceImpl">
                    <constructor-arg name="repository" ref="inMemoryMealRepositoryImpl"/>
            </bean>


            <bean class="ru.javawebinar.topjava.repository.mock.InMemoryUserRepositoryImpl" id="inMemoryUserRepositoryImpl"/>

            <bean class="ru.javawebinar.topjava.service.UserServiceImpl" id="userServiceImpl">
                <constructor-arg name="repository" ref="inMemoryUserRepositoryImpl"/>
            </bean>

</beans>